.sep-2021 {
    color: #C2C5DA;
}
.ul-400 {
    width: 400px;
}
.w50 {
    width: 50%;
}
.li-background {
    background-color: grey;
}
.font-size40 {
    font-size: 40px;
}
.padding20 {
    padding: 20px;
}